@import 'base';

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  text-align: center;
  margin: 1em 0 0;
}

.form {
  max-width: 460px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    box-sizing: border-box;
    flex: 0 0 calc(50% - 8px);
    margin: 8px 0;
  }
  input {
    width: 100%;
  }
  button {
    margin: 8px auto;
  }
}
